body {
    text-align: center;
}

form {
    display: inline-block;
}

input {
    width: 100%;
    border: 2px solid orange;
    background-color: gray;
    cursor: pointer;
}

ol {
    text-align: center;
    list-style-position: inside;
}

li,
a {
    color: white;
}

footer {
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 0;
}